/* min-padding: 0px 15px; */
/* width: 1170px; */
/* +++++ Portfolio decoration ++++ */
.portfolio-projects {
  box-sizing: border-box;
  width: 1170px;
  height: 1360px;
  margin-left: 215px;
  margin-right: 215px;
  /* margin-top: 94px; */
  padding: 0px;
  /* padding-top: 94px; */
  /* padding-bottom: 94px; */
}
.portfolio-projects span {
  height: 30px;
  margin-left: 24px;
  margin-right: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--text-grey);
}
.portfolio-filters {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 611px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 34px;
  padding: 0px;
  padding-bottom: 16px;

  /* background-color: yellow; */
}
button.portfolio-filter-item {
  background: var(--background-grey);
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  box-shadow: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-dark);
}
button.portfolio-filter-item:hover,
button.portfolio-filter-item:focus,
button.portfolio-filter-item:active {
  background-color: var(--active-blue);
  color: var(--title-white);
}
.portfolio-projects ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.portfolio-projects li {
  padding: 0px;
  list-style-type: none;
}
.portfolio-projects-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  box-sizing: border-box;
  width: 1170px;
  height: 1272px;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.portfolio-item {
  width: 370px;
  height: 404px;
  margin: 0px;

  background: var(--main-background);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-projects h3 {
  height: 36px;
  margin-left: 24px;
  margin-right: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  text-transform: none;

  color: var(--title-dark);
}
